.dashboard-container {
  height: 368px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}


.upload-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.upload-form {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 40%;
}

.upload-description {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-right: 4px;
  padding-bottom: 4px;
  width: 100%;
  margin: 8px 0 8px 0;
}

.upload-form input {
  background: #ffffff;
  border: 1px solid #e8e9f0;
  box-sizing: border-box;
  border-radius: 4px;
  height: 3rem;
}

.upload-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.upload-form button {
  display: flex;
  flex-direction: row;
  font-weight: 900;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  color: #fcfcff;
  width: 40%;
  cursor: pointer;
  background: #da1a5b;
  border: 1px solid #c00d53;
  box-sizing: border-box;
  border-radius: 4px;
}

.upload-form button:disabled {
  color: gray;
  background: #E8E9F0;
  border: 1px solid #E8E9F0;
}

span.name {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;

  color: #616B7C;  
}

span.instructions {
  padding-bottom: 8px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;

  color: #616B7C;
}

div.transcript-container {
  height: 100%;
}

span.transcript {
  padding-bottom: 8px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;

  color: #616B7C;
}

.dashboard-item-container {
  display: flex;
  flex-direction: row;
  padding: 8px;
}

.dashboard-item {
  width: 80%;
}

table {
  width: 100%;

  border: 1px solid #F2F2F8;
  /* Drop shadow/shadow-large */
  
  filter: drop-shadow(0px 16px 32px rgba(55, 59, 77, 0.04));
  border-radius: 16px;  
}

table thead, td {
  color: #616B7C;
  border-bottom: 1px solid #F2F2F8;
  text-align: left;
  padding: 8px;
  /* margin: 0px; */
}

.description {
  width: 60%;
}

.status {
  width: 20%;
}

.action {
  width: 20%;
}

.file {
  width: 100%;
  margin-bottom: 8px;
}